.fundoLogin {
    background-image: url("https://i.pinimg.com/originals/8a/63/3d/8a633dbb14009411650a5a914d73c950.gif");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}